body {
    background-color:white;
}
#menu {
    font-family: 'Century Gothic';
    font-size: 18px;
    font-weight: 500;
    color: #000;
    float: left;
    width: 100%;
    background: #fff;
    overflow: hidden;
    position: relative;
}
 #menu ul {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}
 #menu ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50%;
}
 #menu ul li a {
    display: block;
    margin: 0 0 0 40px;
    padding: 20px 20px;
    color: #000;
    text-decoration: none;
    line-height: 10px;
}
 #menu ul li a:hover {
    color: #daf87d;
    background: #fff;
    font-weight: bold;
}
#logo {
   line-height: 3; 
   font-family: 'Bradley Hand', cursive;
   font-size: 52px;
   font-weight: 200;
   color: #000;
   float: left;
   width: 100%;
   background: #fff;
   overflow: hidden;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;  
   margin-top: 10px;
   letter-spacing: -4px;             
}
a {
   text-decoration: none;
   color: transparent;
   color: #000;
}
#bar {
   overflow: hidden;
   position: static;
   display: flex;
   justify-content: right;    
}
#icon {
   position: absolute;
}
#icon > a {
   margin-right: 30px;
}
#slajder-zdjec {
   margin: 50px auto; 
   width: 1300px; 
 }
 #ramka-slajdow {
   height: 500px; 
   overflow: hidden;
   border: 2px solid #daf87d;
 }
 #pictures {
   height: 500px;
   overflow: hidden; 
   position: relative;
 }
 #nawigacja {
   margin: 5px 0 0 0;
   text-align: center;
   z-index: 10;
 }
 #nawigacja a {
   display: inline-block;
   text-decoration: none;
   background: #daf87d;
   border-radius: 50%;
   padding: 2px 6px;
   color: #FFFFFF;
 }
 #nawigacja a:hover {
   background: #daf87d;
 }
 #pictures img {
   position: absolute;
   top: 0;
   left: -1300px;
   z-index: 1;
   opacity: 0;
 }
 #pictures img:target {
   left: 0;
   z-index: 2;
   opacity: 1;
 }
#footer {
   border: 2px solid #daf87d;
   background-color: #FFFFFF;
   color: #000;
   width: 100%;
   background: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
}
.video{
   overflow: hidden;
   border: 2px solid #daf87d;
   height: 500px;
   width: 990px;
   margin: 0 auto;  
}
#tytul{
   font-family: 'Bradley Hand', cursive;
   font-size: 20px;
   border: 2px solid #daf87d;
   background-color: #FFFFFF;
   color: #000;
   width: 100%;
   background: #fff;
   display: flex;
   align-items: center;
   justify-content: center;  
   letter-spacing: -2px;
   margin-bottom: 30px;  
}
.kontakt{
   font-family: 'Bradley Hand';
   font-size: 18px;
   color: #000;
   width: 100%;
   background: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   left: 20%;
   letter-spacing: -1px;
   margin-bottom: 30px;  
   position: absolute;
}
.mapka {
   overflow: hidden;
   position: relative;
   display: flex;
   justify-content: right;
   align-items: right;
   left: 10%;
   border: 2px solid #daf87d;
   background-color: #FFFFFF;
   height: 250px;
   width: 600px;
}
.napis a:hover {
   font-family: 'Bradley Hand', cursive;
   font-size: 20px;
   color: #daf87d;
   background: #fff;
   font-weight: bold;

}
#napis1 {
   font-family: 'Bradley Hand', cursive;
   font-size: 14px;
	width: 200px;
	float: left;
   padding: 0px 0px 0px 100px;
}
#napis2 {
   font-family: 'Bradley Hand', cursive;
   font-size: 14px;
	width: 200px;
	float: left;
	padding: 0px 0px 0px 120px;
}
#napis3 {
   font-family: 'Bradley Hand', cursive;
   font-size: 14px;
	width: 200px;
	float: left;
	padding: 0px 0px 0px 120px;
}
#napis4 {
   font-family: 'Bradley Hand', cursive;
   font-size: 14px;
	width: 200px;
	float: left;
   padding: 0px 0px 0px 120px;
}
@media screen and (max-width: 768px) {
/*dla ipada zwykłego*/
}
@media screen and (max-width: 750px) {
 /*dla iphone i innych telefonów*/
}
@media screen and (max-width: 1366px) {
   /*dla ipada pro i komputerów z hd*/
}