body {
    background-color:white;
}
#menu {
      font-family: 'Courier New', Courier, monospace;
      font-size: 16px;
      font-weight: 900;
	   color: #000;
      float: left;
      width: 100%;
      background: #fff;
      overflow: hidden;
      position: relative;
 }
 #menu ul {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
 }
 #menu ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 53%;
 }
 #menu ul li a {
    display: block;
    margin: 0 0 0 40px;
    padding: 20px 20px;
    color: #000;
    text-decoration: none;
    line-height: 10px;
 }
 #menu ul li a:hover {
    color: #daf87d;
    background: #fff;
    font-weight: bold;
 }