body {
    background-color:black;
}
#menu {
    list-style-type: none;
    float:left;
    padding:10px;
    font: 28pt Verdana;
}
#menu {
    float: left;
    width: 100%;
    background: #000;
    border-bottom: 4px solid #fff;
    overflow: hidden;
    position: relative;
 }
 #menu ul {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
 }
 #menu ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50%;
 }
 #menu ul li a {
    display: block;
    margin: 0 0 0 1px;
    padding: 3px 10px;
    background: #000;
    color: #ddd;
    text-decoration: none;
    line-height: 20px;
 }
 #menu ul li a:hover {
    background: #b00;
    color: #000;
 }
 #menu ul li a.zaznaczony, #menu ul li a.zaznaczony:hover {
    color: #000;
    background: #fff;
    font-weight: bold;
 }